{% extends "layout.html" %}

{% block body %}

<!-- Page Header Start -->
<div class="container py-5 px-2 bg-primary">
    <div class="row py-5 px-4">
        <div class="col-sm-6 text-center text-md-left">
            <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Dashboard</h1>
            <h4 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Manage Your Post</h4>
        </div>
        <div class="col-sm-6 text-center text-md-right">
            <div class="d-inline-flex pt-2">
                <h4 class="m-0 text-white"><a class="text-white" href="/">Home</a></h4>
                <h4 class="m-0 text-white px-2">/</h4>
                <h4 class="m-0 text-white" >Edit</h4>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div style="padding-top: 10px;">
<a href="/logout">  <button class="btn btn-primary" style="float: right;">  Logout</button></a>
</div> 
<div class="container bg-white pt-5">
   <!-- <div class="row px-3 pb-5">-->
    
        
    <form id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
        <div class="form-floating">
            <label for="name">Title</label>
            <input class="form-control" id="title" name="title" type="text" placeholder="Title" data-sb-validations="required" value="{{post.title}}"/>
            
            <div class="invalid-feedback"  data-sb-feedback="name:required">A name is required.</div>
        </div>
        <div class="form-floating">
            <br>
            <label for="email">Tagline</label>
            <input class="form-control" id="tline" name="tline" type="text" placeholder="Tagline" data-sb-validations="required,email" value="{{post.tag_line}}" />
            
            <div class="invalid-feedback"  data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
        </div>
        <div class="form-floating">
            <br>
            <label for="phone">Slug</label>
            <input class="form-control" id="slug" name="slug" type="text" placeholder="Slug" data-sb-validations="required" value="{{post.slug}}" />
            
            <div class="invalid-feedback"  data-sb-feedback="phone:required">Slug</div>
        </div>
        <div class="form-floating">
            <br>
            <label for="message">content</label>
            
            <textarea class="form-control" id="content" name="content" placeholder="Content" style="height: 12rem" data-sb-validations="required">{{post.content}}</textarea>
            
            <div class="invalid-feedback"  data-sb-feedback="message:required">Content</div>
        </div>
        <div class="form-floating">
            <br>
            <label for="phone">Image</label>
            <input class="form-control" id="image" name="image" type="text" placeholder="Image File" data-sb-validations="required" value="{{post.slug}}" />
            
            <div class="invalid-feedback"  data-sb-feedback="phone:required">Image File</div>
        </div>
        
        <br>
        <!-- Submit Button-->
        <div class="form-group">
        <button class="btn btn-primary" id="submitButton" type="submit">Sumbit</button>
    </div>
    </form>
        </div>
        
        
        
        
                            


                            
    </div>
</div>
{% endblock %}