{% extends "layout.html" %}

{% block body %}




<!-- Navbar End -->
                
                <!-- Carousel Start -->
                <div class="container p-0">
                    <div id="blog-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="w-100" src="{{url_for('static',filename='img/home.jpg')}}" alt="Image">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <h1 class="mb-3 text-white font-weight-bold">{{params.blog_name}}</h1>
                                    <div class="d-flex text-white">
                                        <small class="mr-2">Programmer</small>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                       
                    </div>
                </div>
                <!-- Carousel End -->
                
                
                <!-- Blog List Start -->

                {% for post in posts %}
                {% set fname = 'img/'+post.image %}
                <div class="container bg-white pt-5"  >
                    <div class="row blog-item px-3 pb-5">
                        <div class="col-md-5">
                            <img class="img-fluid mb-4 mb-md-0" src="{{url_for('static',filename=fname)}}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold" >{{post.title}}</h3>
                            <div class="d-flex mb-3">
                                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{post.date}}</small>
                              <!--  <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{posts.tag_line}}</small> -->
                                
                               
                            </div>
                            <p>
                                {{post.content[0:101]}}
                            </p>
                            <a class="btn btn-link p-0" href="/post/{{post.slug}}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                   

                    {% endfor %}
                    
                
                <!-- Blog List End -->
                
                
                {% endblock %}